html,
body {
	margin: 0;
	padding: 0;
}

canvas {
  display: block;
}

.mySliders{
  width: 12.5vw;
  background-color: transparent;
  /* Removes some defaults */
  -webkit-appearance: none;
}

/* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
.mySliders:focus {
  /* Stops the default outline showing up */
  outline: none;
}

/* This is the "track" that the slider sits on  */
.mySliders::-webkit-slider-runnable-track {
  background: #aaaaaa;
  height: 8px;
  -webkit-appearance: none;
  /* Turns the cursor into the hand pointer icon when hovering over the slider  */
  cursor: pointer;
}

/* This is the moveable bit of the slider, known as the "thumb"*/
.mySliders::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  /* negative top padding moves it up */
  margin-top: -8px;

  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 8px;
}